<div class="navigation">
  <div class="nav-main">
    <ul>
      <li><a href="{{ site.baseurl }}/">Avaleht</a></li>
      <li><a href="{{ site.baseurl }}/TOC">Sisukord</a></li>
      <li class="dropdown">
        <a href="{{ site.baseurl }}/front_matter/eessonad">Eessõnad</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/front_matter/arsti_arvamus">Arsti Arvamus</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#">Peatükid</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/peatykid/billi-lugu">1. Billi lugu</a>
          <a href="{{ site.baseurl }}/peatykid/ch02_lahendus_on_olemas">2. Lahendus on olemas</a>
          <a href="{{ site.baseurl }}/peatykid/ch03_alkoholismist_lahemalt">3. Alkoholismist lähemalt</a>
          <a href="{{ site.baseurl }}/peatykid/ch04_meie_agnostikud">4. Meie agnostikud</a>
          <a href="{{ site.baseurl }}/peatykid/ch05_kuidas_see_toimib">5. Kuidas see toimib</a>
          <a href="{{ site.baseurl }}/peatykid/ch06_tegutsema">6. Tegutsema</a>
          <a href="{{ site.baseurl }}/peatykid/ch07_too_teistega">7. Töö teistega</a>
          <a href="{{ site.baseurl }}/peatykid/ch08_naistele">8. Naistele</a>
          <a href="{{ site.baseurl }}/peatykid/ch09_perekond_hiljem">9. Perekond hiljem</a>
          <a href="{{ site.baseurl }}/peatykid/ch10_tooandjatele">10. Tööandjatele</a>
          <a href="{{ site.baseurl }}/peatykid/ch11_tulevikupilt_teie_jaoks">11. Tulevikupilt teie jaoks</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="{{ site.baseurl }}/kogemuslood">Kogemuslood</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/kogemuslood/I_osa/cover">I osa - AA Teerajajad</a>
          <a href="{{ site.baseurl }}/kogemuslood/II_osa/cover">II osa - Nad lõpetasid aegsasti</a>
          <a href="{{ site.baseurl }}/kogemuslood/III_osa/cover">III osa - Nad kaotasid peaaegu kõik</a>
        </div>
      </li>
      <li><a href="{{ site.baseurl }}/lisad/lisad">Lisad</a></li>
    </ul>
  </div>
</div>